* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.logo-nav {
    display: flex;
    align-items: center;
}

.logo-nav img {
    width: 90px;
    height: 30px;
    margin-left: 25px;
}

.nav {
    display: flex;
    margin-left: 30px;
    font-size: ;
}

.nav li {
    list-style-type: none;
    margin-right: 30px;
}

.nav li a {
    text-decoration: none;
    color: #000;
}

.s-i-c-a {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.s-i-c-a .search {
    width: 340px;
    height: 40px;
    /* border-radius: 5px; */
}

.s-i-c-a img {
    margin-left: 20px;
}

.product-title {
    height: 190px;
    padding-top: 50px;
    padding-left: 135px;
}

.product-title-review {
    display: flex;
}

.product-title>p {
    font-size: 13px;
}

.product-title h1 {
    margin-top: 20px;
    font-size: 45px;
}

.product-title-review {
    display: flex;
    justify-content: space-between;
}

.product-title-review .rate {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 13px;
}

.product-title-review .rate img {
    height: 15px;
}

.product-title-review .share-save {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 13px;
    margin-right: 150px;
}

.product-title-review .share-save p {
    padding-left: 35px;
}

.product {
    height: 435px;
    padding-left: 135px;
    display: flex;
}

.product>img {
    width: 580px;
}

.product .row2 {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product .row2>img {
    width: 320px;
    height: 210px;
}

.product .row3 {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product .row3>img {
    width: 320px;
    height: 210px;
}