* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo-nav {
    display: flex;
    align-items: center;
}

.logo-nav img {
    width: 90px;
    height: 30px;
    margin-left: 25px;
}

.nav {
    display: flex;
    margin-left: 30px;
    font-size: ;
}

.nav li {
    list-style-type: none;
    margin-right: 30px;
}

.nav li a {
    text-decoration: none;
    color: #000;
}

.s-i-c-a {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.s-i-c-a .search {
    width: 340px;
    height: 40px;
    /* border-radius: 5px; */
}

.s-i-c-a img {
    margin-left: 20px;
}

.product-title {
    height: 190px;
    padding-top: 50px;
    padding-left: 135px;
}

.product-title-review {
    display: flex;
}

.product-title>p {
    font-size: 13px;
}

.product-title h1 {
    margin-top: 20px;
    font-size: 45px;
}

.product-title-review {
    display: flex;
    justify-content: space-between;
}

.product-title-review .rate {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 13px;
}

.product-title-review .rate img {
    height: 15px;
}

.product-title-review .share-save {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 13px;
    margin-right: 150px;
}

.product-title-review .share-save p {
    padding-left: 35px;
}

.product {
    height: 435px;
    padding-left: 135px;
    display: flex;
}

.product>img {
    width: 580px;
}

.product .row2 {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product .row2>img {
    width: 320px;
    height: 210px;
}

.product .row3 {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product .row3>img {
    width: 320px;
    height: 210px;
}

.product-description {
    height: 470px;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 135px;
    padding-right: 125px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.product-description .content {
    width: 60%;
}

.product-description .content>h1 {
    font-size: 26px;
    margin-bottom: 25px;
}

.product-description .content>p {
    font-size: 13px;
}

.product-description .endow {
    margin-top: 40px;
}

.endow td>p {
    display: inline-block;
    font-size: 13px;
    margin-top: 20px;
    margin-right: 50px;
}

.price {
    width: 345px;
    height: 390px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding-left: 20px;
    padding-top: 25px;

}

.price h1 {
    color: #00bdd6;
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.price .coler,
.size,
.quantity {
    width: 300px;
    height: 35px;
    background-color: #f3f4f6;
    border: none;
    border-radius: 5px;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 15px;
}

.total p {
    font-size: 15px;
}

.total h3 {
    margin-right: 20px;
    font-size: 15px;
}

.price .buy,
.add-to-cart {
    width: 300px;
    height: 35px;
    border: none;
}

.price .coler,
.size {
    margin-bottom: 15px;
}

.price .buy {
    color: #fff;
    background-color: #00bdd6;
    margin-bottom: 15px;
    border-radius: 3px;
}

.price .add-to-cart {
    background-color: #fff;
    border: 1px solid #00bdd6;
    border-radius: 3px;
    color: #00bdd6;
}

.review {
    height: 380px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 50px;
    padding-left: 135px;
    padding-right: 125px;
}

.review .all-review {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review .all-review h1 {
    font-size: 25px;
    margin-right: 10px;
}

.review .all-review h3 {
    font-size: 15px;
    margin-left: 5px;
}

.review .all-review p {
    font-size: 15px;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.3);
}

.all-review-rating {
    display: flex;
    align-items: center;
}

.show-all-review {
    color: rgba(0, 0, 0, 0.3);
}

.reviewer {
    margin-top: 30px;
    display: flex;
    position: relative;
}

.reviewer .right {
    position: absolute;
    left: 650px;

}

.reviewer h1 {
    font-size: 15px;
}

.left p,
.right p {
    font-size: 13px;
}

.wei,
.judith {
    margin-top: 40px;
}

.nofreviewer {
    display: flex;
    margin-bottom: 15px;
}

.nofreviewer div {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nofreviewer div img {
    width: 80px;
}

.nofreviewer p {
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.3);
}

.related-product {
    height: 560px;
}